annotated-types==0.7.0
cfgv==3.5.0
coverage==7.15.2
distlib==0.4.3
filelock==3.31.1
identify==2.6.19
iniconfig==2.3.0
nodeenv==1.10.0
numpy==2.5.1
packaging==26.2
pandas==3.0.3
platformdirs==4.10.1
pluggy==1.6.0
pre_commit==4.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-discovery==1.4.4
PyYAML==6.0.3
ruff==0.15.22
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.16.0
virtualenv==21.6.1
